.mainBox{
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 10px; */
    font-family: serif;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;

}

/* .line{
    width: 100%;
    height: 10px;
    background-color: yellow;
    border-radius: 10px;
} */